<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <div class="nav-bar">
            <div class="container">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon">
                            <a href="index.php?module=home&op=view" class="nav-item nav-link">Home</a>
                            <a href="index.php?module=shop&op=view" class="nav-item nav-link">shop</a>
                            <a href="index.php?module=contact&op=view" class="nav-item nav-link">Contact</a>
                        </span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto"></div>
                        <form class="search" id="form_serch">
							<select id="drop_category" class="drop1">
								<option value="0">Select a category</option>
							</select>
						
							<select id="drop_brands" class="drop2">
								<option value="0">Select a brand</option>
							</select>
							
							<div class="autocomplete"> 
                                <input type="text" id="autocom"/>
                                <div id="search_auto"></div>
   						 	</div>	
   						
							<div class="click_button" ><input type="button" value="search" id="search-btn"/></div>
           			    </form>
                        <div class="ml-auto"></div>
                        <div class="perfil"></div>
                    </div>
                </nav>
            </div>
        </div>
    </body>
</html>